<ul>
<% _.each(list, function(customer) { %>
  <li><%= customer.id %> - <%= customer.name %>
    <a href="customer/destroy?id=<%=customer.id%>">Delete</a>
    <a href="customer/edit?id=<%=customer.id%>">Edit</a>
  <% }) %>
</ul>
<form action="customer/create">
    <input type="text" name="name" required>Name
    <input type="text" name="address" required>Address
    <input type="text" name="city" required>City
    <input type="text" name="state" required>State
    <input type="text" name="zip" required>Zip
    <input type="text" name="homephone">Home
    <input type="text" name="cellphone">Cell
    <input type="text" name="email">Email
    <input type="submit">
</form>
<br>
<form action="customer/destroy">
	<input type="number" name="id" required>Delete by id
	<input type="submit">
</form>
<% if (part!==null) { cust = cust[0];%>
<%- partial('../partials/'+part,cust) %><% } %>